{% extends 'base.html' %}
{%load static%}
{% block content%}


  <!-- contact section -->
  <section class="contact_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Get In Touch
        </h2>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="form_container">
            <form action="{% url 'contact' %}", method="POST"> {% csrf_token %}
              <div>
                {{form.name}}
              </div>
              <div>
                {{form.email}}
              </div>
              <div>
                {{form.phone}}
              </div>
              <div>
                {{form.message}}
              </div>
              <div class="btn_box">
                <button type="submit">
                  CONTACT US
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5">
          <div class="img-box">
            <img src="{% static 'images/contact-img.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  {%endblock%}